:root {
  --primary-color: #3498db;
  --secondary-color: #333; /* button color */
  --text-color: #fff;
  --text2-color: #fff;
  --background-color: #e0e0e0;
  --border-color: #fff;
  --hover-button-color: #b45f06;
  --button-color: #333;
  --background-arrow-btn-top-left: rgba(255, 255, 255, 0.3);
  
  --background1-color: #3c3f44ff;

  --content-header-color: #b45f06; 
  --content-footer-color: #b45f06; 
  --content-text-color: #fff; 
  --content-dot-inactive-color: #ccc;
  --content-dot-active-color: #007bff;
}
